h1 {
    color: red;
}

.highlight {
    color: blue;
}

#link-title {
    color: gold;
}

a:hover {
    color:hotpink;
}



.clickable-image {
    transition: transform 0.2s ease-in-out;
}

.clickable-image:hover {
    transform: scale(2.0);
}

