<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>西原スーパーアプリ</title>
        <link rel="stylesheet" href="css/base.css">
    </head>
    <body>
        <h1>西原スーパー書店</h1>
        <form action="{{ url_for('update') }}" method="POST">
            <input type="hidden" name="book_id" value="{{ book[0] }}">
            <label>タイトル</label>
            <input type="text" name="title" value="{{ book[1] }}">
            <label>金額</label>
            <input type="text" name="price" value="{{ book[2] }}">
            <label>入荷日</label>
            <input type="date" name="arrival_day" value="{{ book[3] }}">
            <button type="submit">変更を保存</button>
        </form>





           
    </body>
</html>