<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>test</title>
  </head>
  <body>
    <h1>shutoku</h1>
    <p>test</p>
    <p>{{result}}</p>
    <table border="1">
      <tr>
        {% for col in columns %}
        <th>{{ col }}</th>
        {% endfor %}
      </tr>
      {% for row in data %}
      <tr>
        {% for item in row %}
        <td>{{ item }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <p>(T-T)</p>
  </body>
</html>
